
@{
    Layout = null;

    /* TODO: Add pull of RoomID values from Room model
    *  TODO: Add Voting and Chat Functions
    *
    */
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Room - ID</title>
</head>
<body>
    <h1>Welcome to Room - ID</h1>

    <h2> Voting Placeholder</h2>
    <h2> Chat Placeholder</h2>
</body>
</html>
