
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Class Feedback</title>
</head>
<body>
    <h1>Welcome to Class Feedback</h1>
    <h2>Please select to Create or Join a Room below</h2>

    <input type="button" value="Create a Room" onclick="location.href='@Url.Action("Index", "RoomBuild")'" />
    <input type="button" value="Join a Room" onclick="location.href='@Url.Action("Join", "Landing")'" />

    @await Html.PartialAsync("_Footer")
</body>
</html>
