
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Join</title>
</head>
<body>

    @await Html.PartialAsync("_Footer")
</body>
</html>
