
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Class Feedback</title>
</head>
<body>
    <h1>Welcome to Class Feedback</h1>
    <h2>Please select to Create or Join a Room below</h2>

    <button id="BuildRoom">Create a Room</button>
    <button id="JoinRoom">Join a Room</button>
</body>
</html>
