
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860

    TODO: Add a generic Privacy Policy and Terms of Use
*@

<footer>
    <p> Designed and build using ASP.NET MVC by Dan Frederick</p>
    <a href="#"> Privacy Policy</a><br />
    <a href="#"> Terms of Use</a>
</footer>